@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --title-color: #14b8a6; 
}



body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #4682B4 !important;
  font-family: 'Playfair Display', serif;
}

code {
  font-family: 'Playfair Display', serif;
}

/* @import url(https://fonts.googleapis.com/css?family=Merriweather);
html, */
/* body {
  background: #f1f1f1;
  font-family: 'Merriweather', sans-serif;
  padding: 1em;
} */

h1 {
  text-align: center;
  color: #646464;
  font-family: 'Bitter', serif;
}

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto; 
}

input,
textarea {
  outline: 0;
  padding: 1em;
  border-radius: 8px;
  display: flex;
  width: 100%;
  margin: 1rem;
  font-family: 'Merriweather', sans-serif;
  resize: none;
  background-color: #f1f1f1;
}

#input-submit {
  color: white;
  background: #212359;
  cursor: pointer;
}

#input-submit:hover {
  box-shadow: 0 0px 0px 3px rgba(0, 0, 0.2, 0.3);
  color: white;
}

textarea {
  height: 126px;
}


.contact-div {
  margin-top: 10%;
}


/* portfolio */
.portfolio-section {
  margin-top: 5%;
}

/* hover underline */
.hover-underline-animation {
  display: flex;
  position: relative;
  color: black;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  background-color: #44ffe9;
  left: 5%;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.wave {
  margin-top: 5px;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  display: block;
  width: calc(141% + 1.3px);
  height: 290px;
}

.wave .shape-fill {
  fill: #4682B4;
}

#Footer {
  z-index: 5;
  background-color: #212359;
}

.title {
  font-family: 'Playfair Display', serif;
}

